<!--Jquery.min js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/jquery.min.js"></script>
    <!-- Plugins JS File -->
    <script src="{{ pathSite }}design/{{ design }}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ pathSite }}design/{{ design }}/assets/vendor/sticky/sticky.min.js"></script>
    <script src="{{ pathSite }}design/{{ design }}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{{ pathSite }}design/{{ design }}/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ pathSite }}design/{{ design }}/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="{{ pathSite }}design/{{ design }}/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <!-- Main JS File -->
    <script src="{{ pathSite }}design/{{ design }}/assets/js/main.min.js"></script>
</body>
</html>