{% include 'includesAdmin/header.html' %}
 

<main class="main">
        <nav class="breadcrumb-nav">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                    <li>Home</li>
                </ul>
            </div>
        </nav>
        <div class="page-content pb-10 mb-10">
            <div class="container">
                <ul class="nav-filters filter-underline blog-filters justify-content-center" data-target=".posts">
                    <li><a href="#" class="nav-filter active" data-filter="*">Home</a><span>15</span></li>
                    {% for key, value in categorias %} 
                        <li><a href="#" class="nav-filter" data-filter=".{{value.categorias}}">{{value.categorias}}</a><span>{{value.nr}}</span></li>
                    {% endfor %} 

                </ul>
                <div class="posts grid post-grid row" data-grid-options="{'layoutMode': 'fitRows'}">


                {% for key, value in dataCurso %}

                    <div class="{{value.categorias}} grid-item col-sm-6 col-lg-4">
                        <article class="post post-mask gradient">
                        <figure class="post-media overlay-zoom">
                            <a href="{{ pathSite }}detallecurso/{{value.id}}">
                                <img src="{{ pathSite }}design/{{ design }}/assets/images/blog/mask/1.jpg" width="380" height="280" alt="post" />
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                on <a href="#" class="post-date">{{value.fecha}}</a>
                                | <a href="#" class="post-comment"><span>2</span> Comments</a>
                            </div>
                            <h4 class="post-title"><a href="{{ pathSite }}detallecurso/{{value.id}}">
                                   {{value.curso}}
                            </h4>
                            <a href="{{ pathSite }}detallecurso/{{value.id}}" class="btn btn-link btn-underline btn-white">Read more<i
                                    class="d-icon-arrow-right"></i></a>
                        </div>
                    </article>
                    </div>
                       
                {% endfor %} 

                </div>
                <ul class="pagination mt-5 justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                            aria-disabled="true">
                            <i class="d-icon-arrow-left"></i>Prev
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item">
                        <a class="page-link page-link-next" href="#" aria-label="Next">
                            Next<i class="d-icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
<!-- End Main -->

{% include 'includesAdmin/footer.html' %}
{% include 'includesAdmin/footerJS.html' %}

